@model MAYShop.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Name Catogery</label>
            <div class="col-md-10">
                @Html.DropDownList("CategoryID", (SelectList)ViewBag.CategoryID, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Name Brand</label>
            <div class="col-md-10">
                @Html.DropDownList("BrandID", (SelectList)ViewBag.BrandID, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Name Size</label>
            <div class="col-md-10">
                @Html.DropDownList("SizeID", (SelectList)ViewBag.SizeID, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                <textarea name="sName" id="chitiet"></textarea>
                
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fFileUpload" />
                <font color="red">@ViewBag.ThongBao</font>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Price</label>
            <div class="col-md-10">
                <input name="mGiaBan" id="chitiet" type="number"/>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Desciption</label>
            <div class="col-md-10">
                <textarea name="sMoTa" id="chitiet"></textarea>
                
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">DateUpdate</label>
            <div class="col-md-10">
                <input type="date" name="dNgayCapNhat" required
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
